# Train-Test Split

In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv(r'C:\Users\Muhammad Uzair\Downloads\boston.csv')
dataset.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House_Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [6]:
# input features and output feature
input_data = dataset.iloc[:, :-1]  # all rows, all columns except the last one
output_data = dataset["House_Price"]  # all rows, only the last column

In [11]:
dataset.shape

(506, 14)

In [12]:
# Train and Test Split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [ ]:
# input data divide into training and testing sets 80% training and 20% testing   
x_train.shape, x_test.shape

((404, 13), (102, 13))

In [17]:
# output_data data divide into training and testing sets 80% training and 20% testing 
y_train.shape, y_test.shape

((404,), (102,))